<!DOCTYPE html>
<html>
<body>

<h2>Event creation</h2>

<form action="/action_page.php" method=“post”>
  Event name:<br>
  <input type="text" name=“username” value="">
  <br><br>
  Location:<br>
  <input type="password" name=“pwd” value="">
  <br><br>
  Add notes:<br>
  <input type="text" name="firstname" value="">
  <br><br>
  Earliest starting time:<br>
  <input type="text" name="firstname" value="">
  <br><br>
  Latest ending time:<br>
  <input type="text" name="firstname" value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>