<!DOCTYPE html>
<html lang="en-US">
<head>
<title>ScheduleUs - Personal dashboard </title>
<link rel="stylesheet" href=../mystyle.css>
</head>

<body>
<div class="header-right">
    <a href=../index.htm>Home</a> &nbsp;
    <a href=contact.htm>Contact</a> &nbsp;
    <a href=about.htm>About</a> &nbsp;
    <a href=#personal> Hello $name$ </a> &nbsp;
    <a href=#personal> Edit profile </a>
</div>

<h2> ScheduleUs dashboard </h2>

<a align=“center” href=inner/connect_book.htm><button>Connect your address book</button>
<br><br>
<a align=“center” href=inner/connect_calendar.htm><button>Connect your calendar</button></a>
<br><br>
<a align=“center” href=create_event.htm><button>Create an event</button></a>
<br><br>

<hr>
<p> List of event schedulings initiated (add button to show/edit/delete event) </p>
<hr>
<p> Events invited to/participating in (TBD) </p>

</body>
</html>