<!DOCTYPE html>
<html>
<body>

<h2>Sign up</h2>

<form action="/action_page.php" method=“post”>
  Username:<br>
  <input type="text" name=“username” value="">
  <br><br>
  Password:<br>
  <input type="password" name=“pwd” value="">
  <br><br>
  First name:<br>
  <input type="text" name="firstname" value="">
  <br><br>
  Last name:<br>
  <input type="text" name="lastname" value="">
  <br><br>
  Email:<br>
  <input type=“email” name=“email” value="">
  <br><br>
  City:<br>
  <input type="text" name=“location_city” value="">
  <br><br>
  State:<br>
  <input type="text" name=“location_state” value="">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>

