{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<html lang="en-US">
<head>
<title>ScheduleUs - Contact </title>
</head>

<body>
<div class="header-right">
    {% if user.is_authenticated %}
        <a href={% url 'dashboard' %}>Dasboard</a> &nbsp;
    {% else %}
        <a href={% url 'home' %}>Home</a> &nbsp;
    {% endif %}
    <a href={% url 'about' %}>About</a>
</div>

<br>
<p>Andrew Betbadal </p>
<br>
<p>Antoine Petit </p>
<br>
<p>Sanjeev Reddy </p>

</body>
</html>
{% endblock %}
