{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en-US">
<head>
<title>ScheduleUs - Personal dashboard </title>
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
</head>

<body>
<div class="header-right">
    {% if user.is_authenticated %}
        <p>Welcome {{ request.user.first_name }}</p> &nbsp;
    {% else %}
        <p>Who dis?</p> &nbsp;
    {% endif %}
    <a href={% url 'logout' %}>Logout</a> &nbsp;
    <a href={% url 'contact' %}>Contact</a> &nbsp;
    <a href={% url 'about' %}>About</a> &nbsp;
    <a href=#personal> Edit profile </a>
</div>

<h2> ScheduleUs dashboard </h2>

<a align=“center” href={% url 'create_event' %}><button>Create an event</button></a>
<br><br>
<a align=“center” href={% url 'add_friend' %}><button>Add a friend</button></a>
<br><br>
<a align=“center” href=inner/connect_calendar.htm><button>Connect your calendar</button></a>
<br><br>

<hr>
<p> List of event schedulings initiated (add button to show/edit/delete event) </p>
{% if event_list %}
    <ul>
      {% for event1 in event_list %}
        <li><a href="/{{event1.id}}/">{{event1.name}}</a></li>
      {% endfor %}
    </ul>

    <div>
        {% leaflet_map "created_map" callback="created_init" %}
    </div>
    <script type="text/javascript">
        function created_init(map, options) {
            {% if event_list.count > 1 %}
                var markerList = [];
                var eventNameList = [];
                var eventDescList = [];
                var latLngList = [];
                {% for event in event_list %}
                    // get point lat and lon
                    var lon = {{ event.location.x }};
                    var lat = {{ event.location.y }};
                    latLngList.push(L.latLng(lat, lon));
                    markerList.push(L.marker([lat, lon]));
                    eventNameList.push("{{ event.name }}");
                    eventDescList.push("{{ event.description }}");
                {% endfor %}
                
                var bounds = new L.LatLngBounds(latLngList);
                map.fitBounds(bounds)
                
                for(i = 0; i < markerList.length; i++){
                    markerList[i].addTo(map).bindPopup("<b>" + eventNameList[i] + "</b><br>" + eventDescList[i]);
                }
            {% else %}
                {% for event in event_list %}
                    // get point lat and lon
                    var lon = {{ event.location.x }};
                    var lat = {{ event.location.y }};
                    map.setView([lat, lon], 17);
                    L.marker([lat, lon]).addTo(map).bindPopup("<b>{{event.name}}</b><br>{{event.description}}"); 
                {% endfor %}
            {% endif %}
        }
    </script>
{%endif%}

<hr>
<p> Events invited to and public events </p>
{% if invited_list %}
    <ul>
      {% for event1 in invited_list %}
        <li><a href="/{{event1.id}}/">{{event1.name}}</a></li>
      {% endfor %}
    </ul>

    <div>
        {% leaflet_map "invited_map" callback="invited_init" %}
    </div>
    <script type="text/javascript">
        function invited_init(map, options) {
            {% if invited_list.count > 1 %}
                var markerList = [];
                var eventNameList = [];
                var eventDescList = [];
                var latLngList = [];
                {% for event in invited_list %}
                    // get point lat and lon
                    var lon = {{ event.location.x }};
                    var lat = {{ event.location.y }};
                    latLngList.push(L.latLng(lat, lon));
                    markerList.push(L.marker([lat, lon]));
                    eventNameList.push("{{ event.name }}");
                    eventDescList.push("{{ event.description }}");
                {% endfor %}
                
                var bounds = new L.LatLngBounds(latLngList);
                map.fitBounds(bounds)
                
                for(i = 0; i < markerList.length; i++){
                    markerList[i].addTo(map).bindPopup("<b>" + eventNameList[i] + "</b><br>" + eventDescList[i]);
                }
            {% else %}
                {% for event in invited_list %}
                    // get point lat and lon
                    var lon = {{ event.location.x }};
                    var lat = {{ event.location.y }};
                    map.setView([lat, lon], 17);
                    L.marker([lat, lon]).addTo(map).bindPopup("<b>{{event.name}}</b><br>{{event.description}}"); 
                {% endfor %}
            {% endif %}
        }
    </script>
{%endif%}

</body>
</html>
{% endblock %}
