{% extends 'base.html' %}

{% block title %}Event_Page{% endblock %}
{% block content %}
<!DOCTYPE html>

<html lang="en-US">
<head>
<title>ScheduleUs - Event Page </title>
</head>

<body>
<div class="header-right">
    {% if user.is_authenticated %}
        <p>Welcome {{ user.get_username }}</p> &nbsp;
    {% else %}
        <p>Who dis?</p> &nbsp;
    {% endif %}

    <a href={% url 'logout' %}>Logout</a> &nbsp;
    <a href={% url 'contact' %}>Contact</a> &nbsp;
    <a href={% url 'about' %}>About</a> &nbsp;
    <a href={% url 'dashboard'%}> Dashboard </a> &nbsp;
</div>
<h2> Event Page </h2>
<hr>
<p> Event Details </p>
<hr>
<p> Name : {{event.name}} </p>
<p> Organizer : {{event.organizer.username}}</p>
<p> Location : {{event.location}}</p>
<p> Event Description : {{event.description}}</p>
<br><br>
<form action = "{% url 'event_confirm_delete' event.pk %}" method = "post">{% csrf_token %}
  <p> Do you want to delete {{event.name}}?</p>
  <input type = "submit" value = "Confirm" />
</form>
<br><br>
<form action = "{% url 'event_update' event.pk %}" method = "post">{% csrf_token %}
  <p> Do you want to update {{event.name}}?</p>
  <input type = "submit" value = "Confirm" />
</form>
<br><br>
</body>
</html>
{% endblock %}
